* {
    font-family: Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-image: url("../images/pattern.jpeg");
    margin-bottom: 30px;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

h2, h3, img {
    margin-bottom: 10px;
}

div {
    margin-bottom: 30px;
}

#brushes-h2 {
    background-color: mediumspringgreen;
}

#frames-h2 {
    background-color: lightcoral;
}

#paint-h2 {
    background-color: skyblue;
}

.colored-text {
    font-weight: bold;
    color: blue;
}